<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:include="layout/header :: header"> </header>
<body>
	<div th:include="layout/nav :: nav"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Products</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>序号</th>
								<th>产品</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${products.empty}">
								<td colspan="5">No messages</td>
							</tr>
							<tr th:each="product,protoType : ${products}">
								<td th:text="${protoType.index} + 1">1</td>
								<td th:text="${product}">1</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="layout/footer :: copy"></div>
</body>
</html>