<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/nav">
<head>
<title th:text="#{app.name}">List of Products</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}"
	href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Products</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${products.empty}">
								<td colspan="5">No messages</td>
							</tr>
							<tr th:each="product,protoType : ${products}">
								<td th:text="${protoType.index} + 1">1</td>
								<td th:text="${product}">1</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>