<head th:fragment="header">
<title th:text="#{app.name}">RESTI</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/application.css" rel="stylesheet" />
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>


<!--   <link rel="stylesheet" th:href="@{/css/application.css}"
          href="../../static/css/application.css"/>
    <script th:src="@{js/jquery-1.7.2.js}"></script>
    <script th:src="@{js/jquery.validate.js}"></script>
    <script th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}"
          href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css"/>

    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.js}"></script> -->
</head>