<nav th:fragment="nav" class="navbar navbar-dark bg-primary"
	style="background-color: #e3f2fd;">
	<a class="navbar-brand" th:href="@{/}">RESTI</a>
	<ul class="nav navbar-nav">
		<li class="nav-item"><a href="/product" class="nav-link">产品线</a></li>
		<li class="nav-item"><a href="/httpapi" class="nav-link">接口管理</a></li>
		<li class="nav-item"><a href="/testcase" class="nav-link">测试用例</a></li>

		<li class="nav-item dropdown"><a href="#"
			class="nav-link dropdown-toggle" data-toggle="dropdown"> 环境配置</a>
			<ul class="dropdown-menu">
				<li><a href="/configdb">数据库 dataSource</a></li>
				<li><a href="/configsession"> 登陆 Session</a></li>
				<li><a href="/confighost">测试环境 Host </a></li>
			</ul></li>
		<li class="nav-item dropdown"><a href="#"
			class="nav-link dropdown-toggle" data-toggle="dropdown"
			th:text='${#httpServletRequest.remoteUser}'> </a>
			<ul class="dropdown-menu">
				<li><a href="#">个人资料</a></li>
				<li><a href="#">帮助</a></li>
			</ul></li>
		<li class="nav-item pull-right">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="退出" class="btn btn-default" />
			</form>
		</li>
	</ul>
</nav>
