<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8" />
<title th:text="#{app.name}">Create HttpApis</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}"
	href="../../static/css/application.css" />
</head>
<body>
	<div th:include="layout/nav :: nav"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">HttpApis</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<form action="#" th:action="@{/httpapi/new}" method="POST"
						th:object="${httpApi}" class="form-horizontal">
						<div class="form-group">
							<label for="name" class="col-xs-2">Name</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Name"
									th:field="*{name}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('name')}"
									th:errors="*{name}">Error with Name</p>
							</div>
						</div>

						<div class="form-group">
							<label for="product" class="col-xs-2">Product</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Product"
									th:field="*{product}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('product')}"
									th:errors="*{product}">Error with Product</p>
							</div>
						</div>

						<div class="form-group">
							<label for="module" class="col-xs-2">Module</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Module"
									th:field="*{module}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('module')}"
									th:errors="*{module}">Error with Module</p>
							</div>
						</div>

						<div class="form-group">
							<label for="Host" class="col-xs-2">Host</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Host"
									th:field="*{host}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('host')}"
									th:errors="*{host}">Error with Host</p>
							</div>
						</div>
						<div class="form-group">
							<label for="Uri" class="col-xs-2">Uri</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="Uri" th:field="*{uri}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('uri')}"
									th:errors="*{uri}">Error with Uri</p>
							</div>
						</div>

						<div class="form-group">
							<label for="paramsType" class="col-xs-2">paramsType</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="paramsType"
									th:field="*{paramsType}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning"
									th:if="${#fields.hasErrors('paramsType')}"
									th:errors="*{paramsType}">Error with paramsType</p>
							</div>
						</div>

						<div class="form-group">
							<label for="paramsContent" class="col-xs-2">paramsContent</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="paramsContent"
									th:field="*{paramsContent}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning"
									th:if="${#fields.hasErrors('paramsContent')}"
									th:errors="*{paramsContent}">Error with paramsContent</p>
							</div>
						</div>

						<div class="form-group">
							<label for="expectOutput" class="col-xs-2">expectOutput</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="expectOutput"
									th:field="*{expectOutput}" />
							</div>
							<div class="col-xs-4">
								<p class="text-warning"
									th:if="${#fields.hasErrors('expectOutput')}"
									th:errors="*{expectOutput}">Error with expectOutput</p>
							</div>
						</div>

						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:include="layout/footer :: copy"></div>
</body>
</html>