<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:include="layout/header :: header"></header>
<body>
<div th:include="layout/nav :: nav"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="well well-small">HttpApi</h1>
        </div>
    </div>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Product</th>
                        <th>Module</th>
                        <th>Host</th>
                        <th>Uri</th>
                        <th>paramsType</th>
                        <th>paramsContent</th>
                        <th>expectOutput</th>
                        <th>actualOutput</th>
                        <th>Ops</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${httpApis.empty}">
                        <td colspan="5">No messages</td>
                    </tr>
                    <tr th:each="api : ${httpApis}">
                        <td th:text="${api.id}">1</td>
                        <td th:text="${api.name}">Name</td>
                        <td th:text="${api.product}">Product</td>
                        <td th:text="${api.module}">Module</td>
                        <td th:text="${api.host}">Host</td>
                        <td th:text="${api.uri}">Uri</td>
                        <td th:text="${api.paramsType}">paramsType</td>
                        <td th:text="${api.paramsContent}">paramsContent</td>
                        <td th:text="${api.expectOutput}">expectOutput</td>
                        <td th:text="${api.actualOutput}">actualOutput</td>

                        <td><a th:href="@{/httpapi/edit/__${api.id}__}" href="#">编辑</a>
                            | <a th:href="@{/httpapi/delete/__${api.id}__}" href="#">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="#" th:href="@{/httpapi?form=true}" class="btn btn-default">新建接口</a>
            </div>
        </div>
    </div>
</div>
<div th:include="layout/footer :: copy"></div>
</body>
</html>